<table border="1">
   <tr>
     <th>Class</th>
     <th>Time</th>
     <th>Room</th>
     <th>Teacher</th>
   </tr>
   <tr>
     <td>Emerging Technologies</td>
     <td>Monday 4:00pm - 5:30pm</td>
     <td>A207</td>
     <td>Mr. Barry Denby</td>
   </tr>
   <tr>
     <td>Emerging Technologies</td>
     <td>Tuesday 4:00pm - 5:30pm</td>
     <td>W102</td>
     <td>Mr. Barry Denby</td>
   </tr>
   <tr>
     <td>Practical Networking</td>
     <td>Wednesday 6:30pm - 9:30pm</td>
     <td>JS101</td>
     <td>Dr. Basel Magableh</td>
   </tr>
   <tr>
     <td>New Enterprise Development</td>
     <td>Thursday 1:00pm - 3:30pm</td>
     <td>W201</td>
     <td>Angela O'Koeffe</td>
   </tr>
   <tr>
     <td>Group Project</td>
     <td>Thursday 3:30pm - 5:30pm</td>
     <td>W202</td>
     <td>Mr. Osama Abushama</td>
   </tr>
 </table>
